* {
    box-sizing: border-box;
}

body {
    background: lightgreen;
    font-family: sans-serif;
    margin: 0;
}

header {
    display: flex;
    color: white;
    background: teal;
    justify-content: space-evenly;
    font-size: 20px;
}

.hidden {
    display: none;
}